body{
    main{
        .actionBox{
            height: 90vh;
            max-width: 1200px;
            background-color: $rojo;
            margin: 50px;
            border-radius: 25px;
            padding: 5px;
           
            .actionTexto{
                margin: 25px 0px 15px 25px;
                text-align: right;
            }
            
            img{
                margin: 25px 0px 15px 25px;
                max-width: auto;
                max-height: 500px;
                border-radius: 25px;
                box-shadow: 5px 5px 15px #000000(255, 255, 255, 0.5);
            }
        }
    }
}