$titulosH1: 'Open Sans', sans-serif;
$titulosH2: 'Open Sans', sans-serif;
$parrafos: 'Ubuntu', sans-serif;
$links: 'Open Sans', sans-serif;
$rojo: #bc4749;
$hueso: #f2e8cf;
$verdeclaro: #a7c957;
$verdemedio: #6a994e;
$verdeoscuro: #386641;